.materials {
  &__title {
    font-size: 56px;
    line-height: 1;

    margin: 0 0 48px;
  }

  &__header {
    margin: 0 0 48px;
  }

  &__search {
    position: relative;

    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      cursor: pointer;
    }

    &-delete-icon {
      position: absolute;
      top: -35px;
      right: -2px;
      cursor: pointer;
    }
  }

  &__select {
    margin: 32px 0 0;
    display: block;
  }

  &__nav {
    display: none;
    flex-wrap: wrap;
    align-items: flex-start;

    &-item {
      padding: 16px 37px;
      margin-right: 23px;

      background-color: transparent;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.25s ease-in-out;

      font-size: 18px;
      font-weight: 700;
      line-height: 1.35;
      color: #ffffff;

      &--active,
      &:hover {
        background-color: #BE925C;
      }
    }
  }

  &__list {
    &-item {
      margin: 24px 0;
    }
  }

  &__load-more {
    margin-top: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

    svg {
      margin-left: 12px;
    }
  }

  @media (min-width: 575px) {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__search {
      width: calc(50% - 25px);
    }

    &__select {
      margin: 0;
      width: calc(50% - 25px);
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -25px;
      margin-right: -25px;

      &-item {
        padding: 0 25px;
        width: 50%;
      }
    }
  }

  @media (min-width: 768px) {
    &__header {
      margin: 0 0 10px;
    }
  }

  @media (min-width: 1024px) {
    &__title {
      font-size: 60px;
    }

    &__nav {
      &-item {
        padding: 12px 22px;
        margin-right: 16px;
        font-size: 16px;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      margin: 0 0 50px;
    }

    &__search {
      width: auto;
    }

    &__nav {
      display: flex;
    }


    &__select {
      display: none;
    }

    &__list {
      &-item {
        width: 25%;
      }
    }
  }

  @media (min-width: 1600px) {
    &__title {
      font-size: 124px;
    }

    &__nav {
      &-item {
        padding: 16px 37px;
        margin-right: 23px;
        font-size: 18px;
      }
    }

    &__header {
      margin: 0 0 106px;
    }

    &__list {
      &-item {
        margin: 24px 0;
      }
    }
  }
}
